numpy==2.0.1
pandas==2.2.2
altair==4.2.2
lesley==0.1.3
plotly==5.22.0
seaborn==0.13.2
st_pages==0.5.0
pendulum==3.0.0
yfinance==0.2.40
streamlit==1.36.0
matplotlib==3.9.1
scikit_learn==1.5.1
streamlit-aggrid==1.0.5
streamlit_lottie==0.0.5
